@font-face {
    font-family: 'Pulp Display';
    src: url('./fonts/PulpDisplay-Bold.eot');
    src: local('./fonts/Pulp Display Bold'), local('PulpDisplay-Bold'),
        url('./fonts/PulpDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PulpDisplay-Bold.woff2') format('woff2'),
        url('./fonts/PulpDisplay-Bold.woff') format('woff'),
        url('./fonts/PulpDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.text-dark {
    color: rgb(34, 33, 33)
}

.container{
    width:90%;
    margin:auto;
}
body{
    margin:0;
    padding:0;
    width:100%;
    overflow-x: hidden;
    font-family: 'Pulp Display';
}
nav{
    display: flex;
    justify-content:space-between;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 2px grey;
}
nav img{
    display:block;
}
nav ul{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding: 0;
}
nav ul li a{
    display:block;
    margin:0px 1.5rem;
    text-decoration: none;
    color: rgb(34, 33, 33);
}
nav .btns{
    display:flex;
}
.btn{
    padding: 1rem ;
    font-size: 18px;
    border:none;
    border-radius: 0.3rem;
    cursor:pointer;
}
.btn.btn-lg{
    padding: 1rem;
}
.btn.btn-primary{
    background: #EEE8F2;
    color: #3E0563;
}
.btn.btn-primary a{
    text-decoration: none;
}
.btn.btn-secondary{
    background: #3E0563;
    color: #EEE8F2;
}
.btn.btn-secondary a{
    text-decoration: none;
    color:#EEE8F2;
}
.ml-1{margin-left:1rem}
.my-5{margin:5rem 0}

.topic h1{
    align-content: center;
    justify-content: center;
    padding-left: 45%;
    padding-top: 15px;
    font-size: 25px;
}
.topic h5{
    justify-content: center;
    align-content: center;
    padding-left: 50%;
    font-size: 20px;
    color: #808080;
}
.kamil img{
    width: 90%;
    display: flex; 
    padding-left: 65px;
    padding-right: 60px;

}
.row{
    display:flex;
    justify-content:space-between
}
.award{
    background-size: 8rem;
    /* background-image: url('/Img/Frame 40.png'); */
    background-repeat: no-repeat;
    background-position: bottom left;
    margin:7rem 0 5rem 0;
}
.col-left{
    width:50%;
    padding:0px 10rem 0px 0rem;
}
.col-right{
    width: 50%;
}
.award img{
    width:100%;
    display:block
}
.footer{
    background: #1F0231;
}
.contanierl{
    display:flex;
    height: 30rem;
    width: auto;
}
.boxx{
    width: 20%;
    padding:2rem 0 2rem 2rem;
    margin:1rem 0 0rem 0;
    font-size: 16px;
}
.boxx h4{
    color: #FA9706;
}
.boxx ul{
    list-style-type: none;
    padding: 0;
}
.boxx ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Pulp Display';
    font-style: normal;
    font-size: 16px;
    line-height: 3rem;
}
.footer .contanierl img{
   width: 170px;
   height: 95px;
   display: flex;
   padding: 0;
}
.btns .btn.btn-primary{
    text-decoration: none;
    list-style: none;
}