
@font-face {
    font-family: 'Pulp Display';
    src: url('./fonts/PulpDisplay-Bold.eot');
    src: local('./fonts/Pulp Display Bold'), local('PulpDisplay-Bold'),
        url('./fonts/PulpDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PulpDisplay-Bold.woff2') format('woff2'),
        url('./fonts/PulpDisplay-Bold.woff') format('woff'),
        url('./fonts/PulpDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
    /* position: relative; */
}

body{
    width:100%;
    overflow-x: hidden;
}

.Nav-bar{
    display:flex;
    background-color:white;
    width: 100%;
    height: auto;
    /* position:absolute; */
    top: 0;
    z-index: 2;
    color: black;
    align-items: center;
    font-family: 'Pulp Display';
    justify-content: space-around;
    box-shadow: 0px 1px 0px rgba(219, 219, 219, 0.5);
    margin: 12px;
}
.Nav-bar ul{
    display:flex;
    list-style: none;
    font-size: 10px;
    font-weight: 100px;
    color: rgb(24, 1, 24);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}
.Nav-bar ul li{
    padding: 0px 20px;
    font-size: 15px;
}
.Nav-bar ul a{
    text-decoration: none;
    color: black;
}
.btn .button1{
    margin: 0 5px;
    padding: 14px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    background: #EEE8F2;
    color: #3E0563;
}
.btn .button2{
    margin: 0 5px;
    padding: 14px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    background: #3E0563;
    color: #EEE8F2;
}

section{
    /* position: absolute; */
}
section h1{
    position: relative;
    margin-top: 150px;
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 400;
    font-size: 98px;
    line-height: 115px;
    text-align: center;
    letter-spacing: -0.06em;
    color: #0C0114;
    margin-bottom: 0;

} 
.searchBox{
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    padding-top: 30px;   
}

.searchBox .search{
    box-sizing: border-box;
    width: 660px;
    height: 64px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin: 0 15px;
    padding-left: 90px;
    font-size: 18px;
}
.container{    
    display: absolute;
    justify-content: space-between;
    align-items: center;
}
.container .icon{
    /* position: absolute; */
    margin-top: 25px;
    right: 1100px;
    pointer-events: none;
    bottom: 45px;
    padding-right: 20px;
}
.searchBox button{
    width: 160px;
    height: 64px;
    margin-right: 10px;
    background: #3E0563;
    border-radius: 4px;
    color: white;
}
.arrow{
    /* position: absolute; */
    /* display: flex; */
    /* align-items: center;
    justify-items: center;
    justify-content: center; */
    align-items: center;
}
.arrow h3{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center; 
    top: 30px;
}
.OurTarget{
    background: #1F0231;
    width: 100vw;
    height: 392px;
    padding: 100px 0px;
    top:600px;
}
.title h2{
    color: white;
    font-size: 75px;
    bottom: 50px;
    margin: 30px auto;
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    padding-left: 35px;
    
}
.grid-container .item1{
    box-sizing: border-box;
    border: 2px solid #9E82B1;
    border-radius: 4px;
    text-align: center;
    width: 290px;
    height: 290px;
    padding-top: 50px;
}
.grid-container .item1 h2{
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
    color: #FFFFFF;
}
.grid-container .item2{
    box-sizing: border-box;
    border: 2px solid #9E82B1;
    border-radius: 4px;
    text-align: center;
    width: 290px;
    height: 290px;
    padding-top: 50px;
    
}
.grid-container .item2 h2{
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
    color: #FFFFFF;
}
.grid-container .item3{
    box-sizing: border-box;
    border: 2px solid #9E82B1;
    border-radius: 4px;
    text-align: center;
    width: 290px;
    height: 290px;
    padding-top: 50px;
}
.grid-container .item3 h2{
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
    color: #FFFFFF;
}
.grid-container .item4{
    box-sizing: border-box;
    border: 2px solid #9E82B1;
    border-radius: 4px;
    text-align: center;
    width: 290px;
    height: 290px;
    padding-top: 80px;
}
.grid-container .item4 h2{
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
    color: #FFFFFF;
}
.Awards{
    /* position: relative; */
    display: flex;
    width: auto;
    height: 650px;
    left: 0px;
    top: 1189px;
}
.Awards img{
    /* position: absolute; */
    width: 550px;
    height: 490px;
    left: 80px;
    top: 80px;
}
.Awards h1{
    /* position: absolute; */
    width: 375px;
    height: 168px;
    left: 720px;
    bottom: 410px;
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.06em;
    color: #0C0114;
    
}
.Awards p{
    /* position: absolute; */
    width: 375px;
    height: 168px;
    left: 737px;
    top: 159px;
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0C0114;
}
.Awards button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    color: white;
    /* position: absolute; */
    width: 131px;
    height: 51px;
    left: 735px;
    top: 359px;
    background: #3E0563;
    border-radius: 4px;
}
section .right {
    /* position: relative; */
    /* display: flex; */
    width: 180px;
    height: 180px;
    left: 1200px;
    top: 468px;
}
.Techies{
    /* position: absolute; */
    width: auto;
    height: 697px;
    left: 0px;
    top: 1799px;
}
.Techies h1{
    /* position: absolute; */
    width: 375px;
    height: 43px;
    left: 30px;
    top: 80px;
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #0C0114;
}
.Techies p{
    /* position: absolute; */
    width: 375px;
    height: 168px;
    left: 80px;
    top: 299px;
    font-family: 'Pulp Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0C0114;
}
.Techies button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    /* position: absolute; */
    width: 128px;
    height: 51px;
    left: 80px;
    top: 499px;
    background: #3E0563;
}
section .containerr {  
    display: grid;
    width: auto;
    height: 490px;
    left: 750px;
    top: 2021px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    gap: 24px 24px;
    grid-auto-flow: row;
    grid-template-areas: 
    "Pic-1 Pic-2"
    "Pic-3 Pic-4";
    z-index: 10;
}
      
.container .Pic-1 { grid-area: Pic-1; }
      
.container .Pic-2 { grid-area: Pic-2; }
      
.container .Pic-3 { grid-area: Pic-3; }
 
.container .Pic-4 { grid-area: Pic-4; }

section .end img{
    /* position: absolute; */
    width: 180px;
    height: 200px;
    /* right: 959px; */
    left: -750px;
    top: -170px;
}
.wp {
    /* position: absolute; */
    /* display: inline; */
}
.wrapper {  
    display: grid;
    /* position: relative; */
    top: 2700px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1.1fr 1.1fr;
    grid-auto-columns: 1fr;
    gap: 22px 19px;
    grid-auto-flow: column dense;
    grid-template-areas:
      "Text-1 Text-2 Text-3"
      ". . .";
  }
  
.Text-1 { grid-area: Text-1; }
  
.Text-2 { grid-area: Text-2; }
  
.Text-3 { grid-area: Text-3; }
  


/* media query */
@media only screen and  (max-width: 768px) {
    .news-input {
        width: 50%;
    }
    .Nav-bar{
        display:flex;
        background-color:white;
        width: 100%;
        height: auto;
        /* position:absolute; */
        top: 0;
        z-index: 2;
        color: black;
        align-items: center;
        font-family: 'Pulp Display';
        justify-content: space-around;
        box-shadow: 0px 1px 0px rgba(219, 219, 219, 0.5);
        margin: 12px;
    }
    .Nav-bar ul{
        display:flex;
        list-style: none;
        font-size: 10px;
        font-weight: 100px;
        color: rgb(24, 1, 24);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
    }
    .Nav-bar ul li{
        padding: 0px 20px;
        font-size: 15px;
    }
    .Nav-bar ul a{
        text-decoration: none;
        color: black;
    }
    .btn .button1{
        margin: 0 5px;
        padding: 14px 20px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid transparent;
        outline: none;
        background: #EEE8F2;
        color: #3E0563;
    }
    .btn .button2{
        margin: 0 5px;
        padding: 14px 20px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid transparent;
        outline: none;
        background: #3E0563;
        color: #EEE8F2;
    }

}